/bin/
/target/
*.class
*.un~
.settings
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/*/*/*/.DS_Store



/nbproject/private/
/dist/lib/
/test-in-spigot.bat
/lib/
/target/
/build/
/dist/
/nbproject/